/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi)
        {
          .off-canvas-content {
            background-image: url('#{$img-path}/hero-banner-medium.jpg');
            @include breakpoint(medium up) {
              background-image: url('#{$img-path}/hero-banner-large.jpg');
            }
            @include breakpoint(large up) {
              background-image:linear-gradient(to bottom, rgba(227, 249, 253, 0) 6%, #e3f9fd 7%, rgba(227, 249, 253, .8) 11%, #e6fafd 32%, #f6fdff 100%), url('#{$img-path}/hero-banner@2x.jpg');
            }
          }
        }
