.logo {
  width: 40%; }

.icon {
  width: 128px; }

.colors {
  list-style: none;
  width: 100%;
  display: inline-block; }

.colors li {
  display: block;
  float: left;
  width: 33%; }

.colors li .color-preview {
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0 auto 10px;
  display: block;
  border-radius: 80px;
  background-color: #ddd; }

.colors li p {
  font-size: small;
  line-height: 1.2;
  margin-bottom: 5px;
  text-align: center; }

.banner {
  width: 100%;
  border: solid 1px #ddd; }

.title {
  font-size: 40px;
  font-weight: bold; }

.bold,
.italic,
.light,
.medium,
.normal,
.semibold {
  font-family: "Archer SSm A", "Archer SSm B";
  font-size: 36px;
  line-height: 30px; }

.light {
  font-weight: 400; }

.italic {
  font-style: italic; }

.normal {
  font-weight: 500; }

.medium {
  font-weight: 600; }

.semibold {
  font-weight: 700; }

.bold {
  font-weight: 800; }

.weights {
  letter-spacing: 2px;
  font-size: 13px;
  color: #adadad;
  margin-bottom: 35px;
  border-width: 0 0 1px 0;
  border-style: dotted;
  margin-top: 45px; }

.pullquote {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 35px;
  padding-left: 15px;
  border-width: 0 0 0 3px;
  border-style: solid; }

.map {
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  text-align: justify;
  font-size: 27px;
  line-height: 54px;
  margin-top: 0; }

.heading {
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 35px;
  border-width: 0 0 1px 0;
  border-style: dotted;
  margin-top: 45px;
  color: black; }

.intro {
  margin-bottom: 35px;
  font-size: 21px;
  line-height: 28px; }

.inverse-big {
  background-color: #37323E;
  color: white;
  padding: 30px;
  margin: 0; }

.inverse-med {
  background-color: #37323E;
  color: white;
  padding: 0 30px 30px;
  margin: 0;
  font-size: 15px; }

.inverse-small {
  padding: 0 30px 30px;
  margin: 0;
  background-color: #37323E;
  color: white;
  font-size: 13px; }

.inverse-heading {
  background-color: #37323E;
  color: white;
  padding: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 50px; }
